p {
    font-family:sans-serif;
    font-size: 16px;
    color: azure;
}

img {
    max-width: 100%;
    height: auto;
}

ol {
    font-family: sans-serif, cursive
}

button:hover {
    background-color: #0056b3;
}

h1, h2, h3 {
    font-family: serif;
    color: black;
}
 
body {
    font-family: serif;
    color: azure;
}

li {
    font-family: monospace;
    color: azure;
}

title {
    font-family: serif;
    color: azure;
}

p {
    font-family: serif;
    color: black
}

a {
    font-family: monospace;
    color: azure;
}

.otherow {
    
    color: azure;
}

.otherowtwo {
    
    font-family: serif;
    color: black;
}